.BurgerIngridients{
    max-width: 600px;
    max-height: 75vh;
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.tabs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.type{
    grid-column: span 2
}

.ingridientsWindow {
    overflow-y: auto;
    /*max-height: 65vh;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex: 0 1 auto;
}

