.App {
    margin: auto;
    background: var(--main-color);
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.price {
    composes: row;
    align-items: center;
    gap: 8px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-color);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
}

:root {
    --main-color: #131316;
    --scrollbar-color: #2F2F37;
    --scrollbar-thumb-color: #8585AD;
    --modal-bg-color: #1C1C21;
}
