.tableBlock {
    width: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.table {
    width: 100%;
    text-align: center;
    table-layout: fixed;
}

.ingredient {
    margin: 0 auto;
    width: 520px;
}
