
.menu {
    padding: 0;
    margin: 0;
}

.menuItem {
    width: 320px;
    height: 64px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.link {
    text-decoration: none;

}
