.centered {
    margin: 0 auto;
    max-width: 1280px;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 480px;
    text-align: center;
}

.twoCols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
}

.button {
    width: fit-content;
    align-self: center;
}

.profileContainer {
    max-width: 1280px;
    display: grid;
    grid-template-columns: 320px auto;
    margin-left: 380px;
    margin-top: 120px;
    gap: 60px;
}

.link {
    text-decoration: none;

}

.scrollableWindow {
    max-height: calc(100vh - 248px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    row-gap: 16px;

}

.col {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(10, auto);
    gap: 8px;
}

.wrappable {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 36px
}
.column {
    flex: 1
}
