.centered{
    margin: 180px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 480px;
    text-align: center;
}

.twoCols{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
}

.button{
    width: fit-content;
    align-self: center;
}

.profileContainer {
    display: grid;
    grid-template-columns: 320px auto;
    margin-left: 380px;
    margin-top: 120px;
    gap: 60px;
}
.menu{
    padding: 0;
    margin: 0;
}
.menuItem{
    width: 320px;
    height: 64px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.link{
    text-decoration: none;

}

.main{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1280px;
    overflow-y: scroll;

}

.scrollableWindow {
    max-height: calc(100vh - 208px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    row-gap: 16px;

}
/*
.feedInfo{
    display: flex;
    gap: 60px;
    flex-direction: column;
}
*/

.col{
    display: grid;
grid-auto-flow: column;
grid-template-rows: repeat(10, auto);
    gap: 8px;
    max-height: 340px;
}
.column{
    flex:1
}

.wrappable{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 36px
}
