.AppHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--modal-bg-color);
    position: relative;
    grid-column: span 2;
    padding-left: calc((100% - 1280px) / 2);
    padding-right: calc((100% - 1280px) / 2);
}

.link {
    text-decoration: none;
    color: aliceblue;

}

.logo {
    position: absolute;
    left: calc((100% - 290px) / 2);
}

