.BurgerConstructor {
    width: 600px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding-top: 60px;
    align-items: flex-end;
}

.scrollableWindow {
    min-height: 100px;
    max-height: 462px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.article {
    display: flex;
    align-items: center;
    gap: 4px;
}
.container{
  display: flex;
    gap: 8px;
    flex-direction: column;

}
